      #map {
        height: 100%;
      }
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
	#slider3D {
		position: absolute;
		cursor: pointer;
		top: 150px ;
		left: 15px ;
		}
	#Hs {
		font: 20pt/16pt sans-serif;
		background-color: rgba(240, 248, 255, 0.5);
		position: absolute;
		top: 	15px ;
		left: 	15px ;
		color: 	green ;
	}
	#camData {
		font: 20pt/16pt sans-serif;
		background-color: rgba(215, 240, 211, 0.5);
		position: absolute;
		top: 	15px ;
		left: 	400px ;
		color: 	red ;
	}
	
	
	
	#butt3D {
		font: 14pt/12pt sans-serif;	
		border-bottom-left-radius: 15px  ;
		border-top-left-radius: 15px ;
//		z-index: 10;
		opacity: 0.7 ;
		line-height: 0.9 ;
	}
	#butt2D {
		font: 14pt/12pt sans-serif;	
		border-bottom-left-radius: 15px  ;
		border-top-left-radius: 15px ;
		opacity: 0.7 ;
		line-height: 0.9 ;
		position: absolute;
		top: 	60px ;
		left: 	15px ;
	}
	#blink_text {
		animation:1s blinker linear infinite;
		background-color: rgba(240, 248, 255, 0.5);		
		color: red;
		font-size:48px;
		font-weight:bold;
		position: absolute;
		top: 	400px ;
		left: 	400px ;
		z-index: 25;
	}
//	#blink_text a {color:#f00;}
	@keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
	}	
