#canvaTable, #sunTable { 
	position: absolute; 
	bottom: 0px ;
	margin: 0 ; padding: 0;
	display: none ;							
	width: 100vw; 
	z-index: 7 ;
//	border:1px solid #666666;	
}
#canvaTable {
	height: 30vh ;
}
#sunTable {
	height: 10vh ;
}
#canvaCell {
	background-image: url("../IMG/cloud.jpg"); 
	height: 25vh ;
}
#eleCanva {
	width: 	100% ;	
	height: 100% ;
	z-index: 17 ;	
}
#horizonSlider {
	width: 70vw;
	height: 4vh ;
}
#horiLeftVal, #horiRIghtVal {
	width: 60px ;
}
.graduses {
	font: 10pt/8pt sans-serif;
	margin: 0 ; padding: 0;
	top: 0px ;
}

